.additional-card {
  padding-block: 12px 18px;
}

.additional-card__title {
  @include subtitle;
  font-size: 16px;
  margin: 0;
  margin-bottom: 13px;
  line-height: 16px;
}

.additional-card__info {
  font-size: 14px;
  margin: 0;
  line-height: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.additional-card__volume {
  margin: 0;
}

.additional-card__price {
  margin: 0;
}

.additional-card__button {
  text-decoration: none;
  padding: 10px 30px;
  min-width: 100%;
  display: block;
  text-align: center;
}
