.additional-products {
  padding-top: 25px;
}

.additional-products__wrapper {
  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 80px;
  }
}

.additional-products__title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 36px;
  line-height: 24px;
}

.additional-products__list {
  @include base-list;

  @media (min-width: $desktop) {
    width: 896px;
  }
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    border-inline: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop) {
    border-inline: none;
  }
}

.additional-products__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
