.card-more {
  background-color: inherit;
  padding-top: 25px;
}

.card-more__info {
  margin-bottom: 21px;
}

.card-more__title {
  @include subtitle;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  margin-top: 0;
  margin-bottom: 8px;
}

.card-more__title::before {
  content: "";
  display: block;
  width: 30px;
  margin: 0;
  height: 30px;
  background: url("../../icons/stack.svg#icon-more");
}

.card-more__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

.card-more__button {
  @include base-link(#444444);
  padding: 10px 30px;
  min-width: 100%;
  display: block;
  text-align: center;
}
