.contacts-info {
  background-color: #ffffff;
}

.contacts-info__title {
  font-family: $additional-font;
  color: $additional-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts-info__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
