.invitation__text {
  @media (min-width: $desktop) {
    margin-top: 95px;
    z-index: 1;
    margin-left: 110px;
  }
}

.invitation__wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0 max-content;
  }
}

.invitation__map-image {
  display: block;
  width: 100%;
}
