.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content min-content;
  padding-top: 20px;
}

.product-card__image-link {
  display: flex;
}

.product-card__image {
  width: 140px;
  height: 107px;
  display: block;
}

.product-card__title-link {
  @include base-link(#222222);
}

.product-card__title {
  @include subtitle;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;
  display: block;
  max-width: 76px;
}

.product-card__list {
  @include base-list;
  margin-bottom: 21px;
}

.product-card__item {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.product-card__text {
  margin: 0;
}

.product-card__value {
  margin: 0;
}

.product-card__link {
  @include base-link(#ffffff);
  grid-column: 1/ -1;
  padding: 10px 30px;
  text-align: center;
}
